 <!-- Content Row -->
<div class="container" id="how">
  <div class="row">
      
<!-- how to book a room modal -->
      <div class="col-md-4 text-center info" id="book" >
          <button type="button" class="btn btn-link btn-lg" data-toggle="modal" data-target="#myModal">How to book a room</button>

               <!-- Modal -->
              <div id="myModal" class="modal fade" role="dialog">
                <div class="modal-dialog">

                  <!-- Modal content-->
                  <div class="modal-content">
                    <div class="modal-header">
                      <button type="button" class="close" data-dismiss="modal">&times;</button>
                      <h4 class="modal-title">How to book a room</h4>
                    </div>
                    <div class="modal-body">
                      <p>Find a listing that fits the dates you prefer to stay at the Hilton Garden Inn Napa on our website. Click the "View Details" button and double-check this is the room your want. Click the "Book It" button and create your account. Then fill in your Credit Card details through our Stripe Secure processing page. The VacancyTravel team will then switch the listing at the hotel to your name and your money will be transferred to the seller. Enjoy your stay!</p>
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                  </div>

                </div>
              </div>
            </div>
      <!-- /.col-md-4 -->
<!-- how to book a room modal -->


<!-- how to sell your room modal -->
     <div class="col-md-4 text-center info" id="sell" >
          <button type="button" class="btn btn-link btn-lg" data-toggle="modal" data-target="#sellModal">How to sell your room</button>

               <!-- Modal -->
              <div id="sellModal" class="modal fade" role="dialog">
                <div class="modal-dialog">

                  <!-- Modal content-->
                  <div class="modal-content">
                    <div class="modal-header">
                      <button type="button" class="close" data-dismiss="modal">&times;</button>
                      <h4 class="modal-title">How to sell your room</h4>
                    </div>
                    <div class="modal-body">
                      <p>Gather your confirmation details (from your confirmation email). Set up a Vacancy Account. Enter your reservation details and choose a price. Sit back and wait to get PAID!</p>
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                  </div>

                </div>
              </div>
            </div>
      <!-- /.col-md-4 -->
<!-- how to sell your room modal -->


<!-- about the 100% guarantee modal -->
     <div class="col-md-4 text-center info" >
          <button type="button" class="btn btn-link btn-lg" data-toggle="modal" data-target="#100Modal">About our 100% Guarantee</button>

               <!-- Modal -->
              <div id="100Modal" class="modal fade" role="dialog">
                <div class="modal-dialog">

                  <!-- Modal content-->
                  <div class="modal-content">
                    <div class="modal-header">
                      <button type="button" class="close" data-dismiss="modal">&times;</button>
                      <h4 class="modal-title">About our 100% Guarantee</h4>
                    </div>
                    <div class="modal-body">
                      <p>Because we work with each hotel directly, we are absolutely confident your experience will be as cool as the other side of pillow. If however something should come up at any point during your check-in process, we will make it right or rebook you a room at 100% our cost. You can always call us at 415-500-5018 or email help@vacancytravel.com. </p>
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                  </div>

                </div>
              </div>
            </div>
      <!-- /.col-md-4 -->
<!-- about the 100% guarantee modal -->

  </div>
  <!-- /.row -->
</div>
