  <div class="edit-listing-header">
    <h3 class="text-center"><span class="text-primary"><%= current_seller.first_name %></span>, this is your new listing. Please confirm below.</h3>
    <ul>
      <li>Double-check your listing's details. Click "Edit" button below to fix any innacuracies.</li>
      <strong><li>Click "Confirmed" below if you are ready to submit this listing.</li></strong>
      <li>Once you click "Confirmed", we will notifiy the hotel and they will validate your listing in their system. Once this happens, your listing will be discoverable by potential buyers.</li>
      <li>If any buyers purchase your listing, we will transfer the price into your account minus our 15% fee and change the name on your reservation to the buyer's name.</li>
      <li>Please call <strong>808-555-1212</strong> or email <strong>vacancy.travel.us@gmail.com</strong> if you have any questions. Thanks!</li>
    </ul>
  </div>