

<!-- Section: Testimonials v.3 -->
<section class="team-section text-center my-5">

  <p> </p>

  <!--Grid row-->
  <div class="text-center">

    <!--Grid column-->
    <div class="col-md-4 mb-md-0 mb-5">

      <div class="testimonial">
        <!--Avatar-->
        <div class="avatar mx-auto">
          <img src="/sara.png" class="rounded-circle z-depth-1 img-fluid">
        </div>
        <!--Content-->
        <h5 class="font-weight-bold dark-grey-text mt-4">Sara - San Francisco, Ca</h5>
        <p class="font-weight-normal dark-grey-text">
          <i class="fa fa-quote-left pr-2"></i>I was stuck with a reservation I couldn't use, and sold it on VacancyTravel in 3 days.</p>
        <!--Review-->
        <div class="orange-text">
          <i class="fa fa-star"> </i>
          <i class="fa fa-star"> </i>
          <i class="fa fa-star"> </i>
          <i class="fa fa-star"> </i>
          <i class="fa fa-star-half-full"> </i>
        </div>
      </div>

    </div>
    <!--Grid column-->

    <!--Grid column-->
    <div class="col-md-4 mb-md-0 mb-5">

      <div class="testimonial">
        <!--Avatar-->
        <div class="avatar mx-auto">
          <img src="adrien.png" class="rounded-circle z-depth-1 img-fluid">
        </div>
        <!--Content-->
        <h5 class="font-weight-bold dark-grey-text mt-4">Adrian - Sacramento, Ca</h5>
        <p class="font-weight-normal dark-grey-text">
          <i class="fa fa-quote-left pr-2"></i>I saved over $250 on a room during Bottle Rock!</p>
        <!--Review-->
        <div class="orange-text">
          <i class="fa fa-star"> </i>
          <i class="fa fa-star"> </i>
          <i class="fa fa-star"> </i>
          <i class="fa fa-star"> </i>
          <i class="fa fa-star"> </i>
        </div>
      </div>

    </div>
    <!--Grid column-->

    <!--Grid column-->
    <div class="col-md-4">

      <div class="testimonial">
        <!--Avatar-->
        <div class="avatar mx-auto">
          <img src="joanna.png" class="rounded-circle z-depth-1 img-fluid">
        </div>
        <!--Content-->
        <h5 class="font-weight-bold dark-grey-text mt-4">Joanna - San Francisco, Ca</h5>
        <p class="font-weight-normal dark-grey-text">
          <i class="fa fa-quote-left pr-2"></i>The deals on VacancyTravel are amazing! I always check this site first when I am staying in Napa.</p>
        <!--Review-->
        <div class="orange-text">
          <i class="fa fa-star"> </i>
          <i class="fa fa-star"> </i>
          <i class="fa fa-star"> </i>
          <i class="fa fa-star"> </i>
          <i class="fa fa-star-o"> </i>
        </div>
      </div>

    </div>
    <!--Grid column-->

  </div>
  <!--Grid row-->

</section>
<!-- Section: Testimonials v.3 -->