<h4 style="text-align: center"> Congratulations on your reservation purchase at  www.vacancytravel.com.
 </h4>

<%= render 'layouts/spacer', height: '25px' %>

<table class='row'>
  <tbody>
    <tr>
      <h5>Next Steps</h5>
      <ul>
        <li><p><strong>Switch</strong> - The hotel has been notified of your reservation purchase.  They are in the process of switching all reservation info into your name. Once this has been switched you will receive an email with confirmation number and all your reservation details.</p></li>
        <li><p><strong>Security</strong> - Security is of the utmost importance to us a Vacancy Travel.  This is why only work with hotels we have a direct relationship with.  Your information will never be shared with the seller of this reservation.</p></li>
        <li><p><strong>Payment</strong> - Payment has been taken from your credit card or paypal account for this new reservation.  As a reminder, all reservations purchased on Vacancy Travel are non-refundable.  If you are unable to make your reservation for any reason you will still be charged and no refunds will be mad available.</p></li>
        <li><p><strong>Help</strong> - If you have any questions or concerns, please contact us at either help@vacancytravel.com or by phone at (415) 500-5018.</p></li>
      </ul>
    </tr>
  </tbody>
</table>

