  <!-- Footer -->
    <footer class="footer">
        <div class="container">
            <div class="row">
                <div class="col-xs-2 col-sm-1 col-md-1 col-lg-1">
                  <!-- <span>
                    <div id="TA_socialButtonIcon526" class="TA_socialButtonIcon">
                        <div id="OhmQFSb2JBe" class="TA_links cZzdVjK80Y">
                            <div id="MmgXdBgKD" class="ym0ePs">
                                <a target="_blank" href="https://www.tripadvisor.com/Hotel_Review-g32766-d235440-Reviews-Hilton_Garden_Inn_Napa-Napa_Napa_Valley_California.html"><img src="https://www.tripadvisor.com/img/cdsi/img2/branding/socialWidget/20x28_green-21690-2.png"/></a>
                            </div>
                        </div>
                    </div>
                    <script src="https://www.jscache.com/wejs?wtype=socialButtonIcon&amp;uniq=526&amp;locationId=235440&amp;color=green&amp;size=rect&amp;lang=en_US&amp;display_version=2"></script>
                  </span> -->
                </div>
                <div class="col-xs-5 col-sm-4 col-md-4 col-lg-4">
                  <div class="copyright">
                    <p>Copyright &copy; VacancyTravel <%= Time.zone.today.year %> </p>
                  </div>
                </div>

                  <div class="col-xs-5 col-sm-6 col-md-6 col-lg-6">
                    <div class="phone">
                      <a href="tel:415-500-5018">415-500-5018</a> 
                    </div> 
                  </div>
                </div>
            </div>
            <!-- /.row -->
        </div=        <!-- /.container -->
    </footer>
